/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation (horizontal subnavigation)
----------------------------------------------- */
ul.nav,
ul.nav * {
  margin: 0;
  padding: 0;
}
ul.nav {
  background-color: #00b43c;
  height: 58px;
  max-width: 100%;
  position: relative;
}
ul.nav li {
  cursor: pointer;
  float: left;
  text-align: center;
  list-style-type: none;
  font-weight: normal;
  vertical-align: middle;
}
ul.nav li ul {
  cursor: default;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: auto;
  top: 3.4em;
  background-position: 0 0 !important;
  left: -9000px;
}
ul.nav li ul li {
  padding: 0;
  border: none;
  width: auto;
  max-width: none;
}
ul.nav li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 1em;
  height: 4.1em;
  line-height: 4.1em;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {
  color: #000;
  background: #26d61f;
}
ul.nav li a:active {
  color: #666;
  background: #fff;
}
ul.nav li:hover ul {
  left: 0;
  z-index: 10;
}

ul.nav li a span {
  padding: 0px 0px 0px 30px;
  display: block;
  background-repeat: no-repeat;
  white-space: nowrap;
}

li.dd span:after {
  content: "";
}
